html {
    display: flex;
    flex-direction: column;
  }



header {
    color: #ffffff;      text-align: center;}

 .wrapper{
    display: block; 
    flex: 1 1 auto;

 }

 .navegation{

    color:#ffffff;
    background-color: rgb(72, 67, 67);
 }
.th{
    background-color: #ffffff;
}

.links{
background-color: rgb(72, 67, 67)k;



}

footer{background-color: rgb(72, 67, 67);
    text-align: center;


}